import { Component, OnInit } from '@angular/core';

@Component({
    selector: '{selector}',
    templateUrl: '{templateUrl}',
    styleUrls: ['{styleUrls}']
})

export class {className}Component implements OnInit {

  constructor() {
    // Do stuff
  }

  ngOnInit() {
    console.log('Hello {selector}');
  }

}
